* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("http://www.pixeden.com/media/k2/galleries/112/004-subtle-light-pattern-background-texture.jpg")
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
